{% extends "index.html.twig" %}

{% block modal_form %}
	{% for key, request in requests %}
		<div class="row">
			<div class="box-body">
				<div class="row"><label class="col-xs-3" for="">Requérant:</label>
					<div class="col-xs-8">{{request.requerant.patronyme}}</div>
					<div class="col-xs-1">
						<a target="_blank" href="{{ path_for('page_section_specific', {'page': 'requetes', 'section': 'valider', 'id': key}) }}" class="pull-right btn btn-sm btn-primary"><i class="fa fa-search"></i></a>
					</div>
				</div>
				<div class="row"><label class="col-xs-3" for="">Parcelle:</label> <div class="col-xs-9">{{request.parcelle.id}}</div></div>
				<div class="row"><label class="col-xs-3" for="">Bâtiments:</label> <div class="col-xs-9">{{request.pool.batiments}}</div></div>
				<div class="row"><label class="col-xs-3" for="">DAB nécessaire:</label> <div class="col-xs-9">{{request.dab}}</div></div>
				<hr/>
			</div>
		</div>
	{% endfor %}
{% endblock %}

{% block body %}

	{# {{block("modal_form")}} #}

	<div class="row">
		<div class="col-md-12">
			<div class="box box-success">
				<div class="box-header with-border" id="table">
					<h3 class="box-title">Résumé de la consommation des droits à bâtir</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form class="form-horizontal">
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th colspan="3" class="table-border-bottom table-border-right table-border-top">Tableau de répartition des droits à bâtir</th>
								<th colspan="100" class="table-border-bottom table-border-top">Droits à bâtir consommés / prévus</th>
							</tr>
							<tr>
								<th rowspan="2" class="table-border-bottom table-border-right">Parcelle N°</th>
								<th rowspan="2" class="table-border-bottom table-border-right">Surface<br/> parcelle<br/> en ZD3</th>
								<th style="text-align: center" rowspan="1" colspan="1" class="table-border-right">DAB</th>
								{% for pool in pools %}
									<th width="{{80/(parcelles|length)}}%">Bat</th>
								{% endfor %}
							</tr>
							<tr>
								<th rowspan="1" coslpan="1" class="table-border-right table-border-bottom">Consommé&nbsp;/&nbsp;Prévu</th>
								{% for pool in pools %}
									<th class="table-border-bottom">{{ pool.batiments }}</th>
								{% endfor %}
							</tr>
							{% for parcelle in parcelles %}
								<tr>
									<th class="table-border-right">{{ parcelle.id }}</th>
									<td class="table-border-right"><span class="surface" data-parcelle="{{parcelle.surface}}">{{parcelle.surface}}</span></td>
									<th class="table-border-right"><span class="dab_total_consumed" data-parcelle="{{parcelle.id}}">0</span>&nbsp;/&nbsp;<span class="dab_total" data-parcelle="{{parcelle.id}}">0</span></th>
									{% for pool in pools %}
										<td>
											{% if requeteManager.getParcelleCurrentConsumption(parcelle.id, pool.id) %}

{% with {
	requests: requeteManager.getValidatedSpecific(parcelle.id, pool.id),
} %}
	{% with {
		modal_id: 'modal-parcelle-pool-'~parcelle.id~'-'~pool.id,
		modal_title: "<i class='fa fa-info'></i> Résumé de(s) requête(s) correspondante(s)",
		modal_footer: '',
		modal_body: block("modal_form")
	} %}
		{{ block("modal", 'components/modal.html.twig') }}
	{% endwith %}
{% endwith %}

												<a data-toggle="modal" data-target="#modal-parcelle-pool-{{parcelle.id}}-{{pool.id}}" href="#" class="editable" data-parcelle="{{parcelle.id}}" data-pool="{{pool.id}}" data-type="number" data-pk="{{pool.id}}" data-name="{{parcelle.id}}"  data-title="DABs du pool {{pool.batiments}} dans la parcelle {{parcelle.id}}" data-dab="{{ parcellesPoolsDabs.getDabs(parcelle.id, pool.id) }}" data-consumed="{{ requeteManager.getParcelleCurrentConsumption(parcelle.id, pool.id) }}">{{ requeteManager.getParcelleCurrentConsumption(parcelle.id, pool.id) }}&nbsp;/&nbsp;{{ parcellesPoolsDabs.getDabs(parcelle.id, pool.id) }}</a>
											{% else %}
												<span href="#" class="editable" data-parcelle="{{parcelle.id}}" data-pool="{{pool.id}}" data-type="number" data-pk="{{pool.id}}" data-name="{{parcelle.id}}"  data-title="DABs du pool {{pool.batiments}} dans la parcelle {{parcelle.id}}" data-dab="{{ parcellesPoolsDabs.getDabs(parcelle.id, pool.id) }}" data-consumed="0">0&nbsp;/&nbsp;{{ parcellesPoolsDabs.getDabs(parcelle.id, pool.id) }}</span>

											{% endif %}
										</td>
									{% endfor %}
								</tr>
							{% endfor %}
							<tr>
								<th class="table-border-bottom table-border-top table-border-right">TOTAL Consommé&nbsp;/&nbsp;Prévu</th>
								<th class="table-border-bottom table-border-top table-border-right"><span id="surface_full_total">0</span></th>
								<th class="table-border-bottom table-border-right table-border-top"><span id="dab_full_total_consumed">0</span>&nbsp;/&nbsp;<span id="dab_full_total">0</span></th>
								{% for pool in pools %}
									<th class="table-border-bottom table-border-top"><span class="dab_pool_total_consumed" data-pool="{{pool.id}}">0</span>&nbsp;/&nbsp;<span class="dab_pool_total" data-pool="{{pool.id}}">0</span></th>
								{% endfor %}
							</tr>
						</table>
					</div>
					<!-- /.box-body -->
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block heads %}
	<style type="text/css" media="screen">
		.table-border-right {
             border-right: 2px solid !important;
		}
		.table-border-bottom {
             border-bottom: 2px solid !important;
		}
		.table-border-top {
             border-top: 2px solid !important;
		}
	</style>
{% endblock %}

{% block scripts %}
	<script>

	function computeSurface() {
		var value = 0;
		document.querySelectorAll('.surface').forEach(function(element) {
			value += Number(element.innerText);
		});
		document.querySelector('#surface_full_total').innerText = value;
	}

	function computeFullDAB() {
		var value = 0;
		document.querySelectorAll('.dab_total').forEach(function(element) {
			value += Number(element.innerText);
		});
		document.querySelector('#dab_full_total').innerText = value;

		value = 0;
		document.querySelectorAll('.dab_total_consumed').forEach(function(element) {
			value += Number(element.innerText);
		});
		document.querySelector('#dab_full_total_consumed').innerText = value;
	}

	function computePoolDAB() {
		document.querySelectorAll('.dab_pool_total').forEach(function(element) {
			var pool = element.dataset.pool;
			var value = 0;
			document.querySelectorAll('.editable[data-pool="'+pool+'"]').forEach(function(element) {
				value += Number(element.dataset.dab);
			});
			element.innerText = value;
		});
		document.querySelectorAll('.dab_pool_total_consumed').forEach(function(element) {
			var pool = element.dataset.pool;
			var value = 0;
			document.querySelectorAll('.editable[data-pool="'+pool+'"]').forEach(function(element) {
				value += Number(element.dataset.consumed);
			});
			element.innerText = value;
		});
	}

	function computeDAB() {
		document.querySelectorAll('.dab_total').forEach(function(element) {
			var dab = element.dataset.parcelle;
			var value = 0;
			document.querySelectorAll('.editable[data-parcelle="'+dab+'"]').forEach(function(element) {
				value += Number(element.dataset.dab);
			});
			element.innerText = value;
		});
		document.querySelectorAll('.dab_total_consumed').forEach(function(element) {
			var dab = element.dataset.parcelle;
			var value = 0;
			document.querySelectorAll('.editable[data-parcelle="'+dab+'"]').forEach(function(element) {
				value += Number(element.dataset.consumed);
			});
			element.innerText = value;
		});
	}

	function editableSuccess(response, newValue) {
		setTimeout(reinit, 200);
	}

	function preventDefault(event) {
		event.preventDefault();
	}

	function validate(event) {
		preventDefault(event);
		if(!confirm("Vous êtes sur le point de déployer le tableau actuel sur la blockchain: êtes-vous sûr ?")) {
			return false;
		}
	}

	function reinit() {
		computeDAB();
		computePoolDAB();
		computeFullDAB();
	}

	computeSurface();
	reinit();

	</script>
{% endblock %}

