{% extends "index.html.twig" %}

{% block modal_form %}
	<div class="row">
		<div class="col-xs-12">
			<ul class="timeline">
				<li>
					<span class="disabled_foreground"></span>
					<!-- timeline icon -->
					<i class="fa fa-map bg-blue"></i>
					<div class="timeline-item">
						<h3 class="timeline-header"><a href="#">La parcelle</a></h3>
						<form id="form_parcelle" onsubmit="timeline(event, true); return false;" onchange="timeline(event, false)">
							<div class="timeline-body col-xs-12">
								<div class="form-group">
									<label>Parcelle liée au nouveau contrat</label>
									<select class="form-control select2" style="width: 100%;" required>
										<option value="" disabled selected="selected">Liste des parcelles</option>
										{% for parcelle in parcelles %}
											<option>{{parcelle.id}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="timeline-footer col-xs-12">
								<button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
								<button onclick="timeline(event, false)" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i></button>
							</div>
						</form>
					</div>
				</li>
				<li class="disabled">
					<span class="disabled_foreground"></span>
					<!-- timeline icon -->
					<i class="fa fa-building"></i>
					<div class="timeline-item">
						<h3 class="timeline-header"><a href="#">Les pools de bâtiments</a></h3>
						<form id="form_pool" onsubmit="timeline(event, true); return false;" onchange="timeline(event, false)">
							<div class="timeline-body col-xs-12">
								<div class="form-group">
									<label>pool liée au nouveau contrat</label>
									<select class="form-control select2" style="width: 100%;" required>
										<option value="" disabled selected="selected">Liste des pools</option>
										{% for pool in pools %}
											<option>{{pool.batiments}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="timeline-footer col-xs-12">
								<button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
								<button onclick="timeline(event, false)" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i></button>
							</div>
						</form>
					</div>
				</li>
				<li class="disabled">
					<span class="disabled_foreground"></span>
					<!-- timeline icon -->
					<i class="fa fa-info"></i>
					<div class="timeline-item">
						<h3 class="timeline-header"><a href="#">Information sur le contrat</a></h3>
						<form id="form_info" onsubmit="timeline(event, true); return false;" onchange="timeline(event, false)">
							<div class="timeline-body col-xs-12">
								<div class="form-group">
									<label>Entrez les informations prouvant la validité du contrat (origine, raison,...)</label>
									<textarea class="form-control" rows="3" placeholder="Preuves de validité" required></textarea>
								</div>
							</div>
							<div class="timeline-footer col-xs-12">
								<button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
								<button onclick="timeline(event, false)" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i></button>
							</div>
						</form>
					</div>
				</li>
				<li class="disabled">
					<span class="disabled_foreground"></span>
					<!-- timeline icon -->
					<i class="fa fa-save"></i>
					<div class="timeline-item">
						<h3 class="timeline-header"><a href="#">Enregistrer ce contrat pour validation</a></h3>
						<div class="timeline-body">
							<button onclick="send_contrat(event)" type="submit" class="btn btn-default btn-lrg ajax" title="Ajax Request">
								<i class="fa fa-refresh fa-fw"></i>&nbsp; Envoyer la demande de validation du contrat
							</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block body %}
	{% with {
	modal_id: 'modal-congrats',
	modal_title: '<i class="fa fa-save bg-green" style="width: 30px; height: 30px; font-size: 15px; line-height: 30px; border-radius: 50%; text-align: center;"></i> Votre contrat a bien été enregistré',
	modal_footer: '<button type="button" data-dismiss="modal" class="btn btn-primary pull-left"><i class="fa fa-handshake-o"></i> Créer un <strong>autre</strong> contrat</button><a href="'~path_for('page_section', {'page': 'requetes', 'section': 'deposer'})~'" class="btn btn-info pull-right"><i class="fa fa-question-circle"></i> Créer une nouvelle requête</a>',
	modal_body: "Vous pouvez désormais l'utiliser pour créer une requête.",
} %}
{{ block("modal", 'components/modal.html.twig') }}
{% endwith %}

{% with {
	modal_id: 'modal-add-contrat',
	modal_title: "Ajout d'un contrat",
	modal_footer: '',
	modal_body: block("modal_form")
} %}
{{ block("modal", 'components/modal.html.twig') }}
{% endwith %}

{% with {
	requerant_title: 'Compte requérant du nouveau contrat',
	submit_label: 'Créer nouveau contrat'
} %}
{% block check_requerants_block %}
	<div class="register-box">
		<div class="register-box-body">
			<p class="login-box-msg">Sélectionnez un compte Requérant</p>

			<form id="form_requerant" onsubmit="new_contrat(event)">
				<div class="form-group">
					<label{{requerant_title}}</label>
					<select class="form-control select2" style="width: 100%;" required>
						<option value="" disabled selected="selected">Liste des requérants</option>
						{% for requerant in requerants %}
							<option>{{requerant.patronyme}}</option>
						{% endfor %}
					</select>
					<p class="help-block"><a href="{{ path_for('page_section', {'page': 'requerants', 'section': 'creer'}) }}">Cliquez-ici si vous n'avez pas encore de compte requérant</a></p>
				</div>
				<div class="form-group has-feedback">
					<label>Clé privée correspondante</label>
					<input type="text" class="form-control" name="private_key" placeholder="Clé privée du requérant" required>
					<span class="fa fa-key form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-5">
					</div>
					<!-- /.col -->
					<div class="col-xs-7">
						<button type="submit" class="btn btn-default btn-lrg ajax" title="Ajax Request">
							<i class="fa fa-refresh fa-fw"></i>&nbsp; {{submit_label}}
						</button>
					</div>
					<!-- /.col -->
				</div>
			</form>

		</div>
		<!-- /.form-box -->
	</div>
	<!-- /.register-box -->

{% endblock %}
{% endwith %}

{% endblock %}

{% block heads %}
	<!-- Select2 -->
	<link rel="stylesheet" href="{{ path_for('home') }}vendor/almasaeed2010/adminlte/bower_components/select2/dist/css/select2.min.css">

	<style type="text/css" media="screen">
	.pace {
		-webkit-pointer-events: none;
		pointer-events: none;

		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}

	.pace-inactive {
		display: none;
	}

	.pace .pace-progress {
		background: #f39c12;
		position: fixed;
		z-index: 2000;
		top: 0;
		right: 100%;
		width: 100%;
		height: 2px;
	}

	{% block timeline_css %}
	.timeline li span.disabled_foreground {
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0,0,0,0.0);
		z-index: 0;
		transition: background 0.3s;
	}

	.timeline li.disabled span.disabled_foreground {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 5;
		background: rgba(0,0,0,0.5);
	}

	.timeline-body, .timeline-footer {
		background: white;
	}
	.timeline-footer {
		padding: 1em;
	}
	{% endblock %}

	</style>
{% endblock %}

{% block scripts %}

	<script src="{{ path_for('home') }}vendor/almasaeed2010/adminlte/bower_components/select2/dist/js/select2.full.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
	<script>
	$('.select2').select2({
	});
	</script>
	<script>
	var ajaxButton;
	var sending = false;

	{% block timeline_script %}
	function preventDefault(event) {
		event.preventDefault();
	}

	function disableTimeline(element) {
		var parent = element;
		if (element.tagName != 'li') {
			parent = element.closest('.timeline li');
		}
		parent.scrollIntoView({behavior: "smooth", block: "center", inline: "center"});
		var icon = parent.querySelector('i');
		icon.classList.remove('bg-green');
		icon.classList.add('bg-blue');

		var sibling = parent.nextElementSibling;
		while(sibling) {
			icon = sibling.querySelector('i');
			icon.classList.remove('bg-blue', 'bg-green');
			sibling.classList.add('disabled');
			sibling = sibling.nextElementSibling;
		}
	}

	function enableTimeline(element) {
		var parent = element.closest('.timeline li');
		var icon = parent.querySelector('i');
		icon.classList.remove('bg-blue');
		icon.classList.add('bg-green');
		var sibling = parent.nextElementSibling;
		while(sibling) {
			icon = sibling.querySelector('i');
			icon.classList.remove('bg-blue', 'bg-green');
			sibling.classList.add('disabled');
			sibling = sibling.nextElementSibling;
		}
		sibling = parent.nextElementSibling;
		if (sibling) {
			sibling.classList.remove('disabled');
			sibling.scrollIntoView({behavior: "smooth", block: "center", inline: "center"});
			icon = sibling.querySelector('i');
			icon.classList.remove('bg-green');
			icon.classList.add('bg-blue');
		}
	}

	function timeline(event, isSubmit) {
		if (isSubmit) {
			var form = event.target.closest('form');
			if (!form || $(form).isValid()) {
				enableTimeline(event.target);
			} else {
				disableTimeline(event.target);
			}
		} else {
			disableTimeline(event.target);
		}
		preventDefault(event);
		return false;
	}
	{% endblock %}

	function send_contrat(event) {
		event.preventDefault();
		var button = event.target;
		if (sending) {
			return false;
		}
		sending = true;
		ajaxButton = $(button);
		ajaxButton.find('i')[0].classList.add('fa-spin');
		$(document).ajaxStart(function () {
			Pace.restart()
		});
		$.ajax({
			url: '#', success: function (result) {
				setTimeout(function() {
					ajaxButton.find('i')[0].classList.remove('fa-spin');
					sending = false;
					$('#modal-add-contrat').modal('hide');
					$('#modal-congrats').modal();
					disableTimeline(document.querySelector('.timeline').firstElementChild);
					$('.timeline :input').not(':button, :submit, :reset, :hidden, :checkbox, :radio').val('');
					$('.timeline .select2').val(null).trigger('change');
				}, 500);
			}
		})
	}

	{% with {modal_id: 'modal-add-contrat'} %}
	{% block check_requerants_script %}
	function new_contrat(event) {
		event.preventDefault();
		var button = event.target;
		if (sending) {
			return false;
		}
		sending = true;
		ajaxButton = $(button);
		ajaxButton.find('i')[0].classList.add('fa-spin');
		$(document).ajaxStart(function () {
			Pace.restart()
		});
		$.ajax({
			url: '#', success: function (result) {
				setTimeout(function() {
					ajaxButton.find('i')[0].classList.remove('fa-spin');
					sending = false;
					$('#{{modal_id}}').modal();
				}, 500);
			}
		})
	}
	{% endblock %}
	{% endwith %}

	</script>
{% endblock %}
