{% extends "index.html.twig" %}

{% block body %}

{% with {
	modal_id: 'modal-add-pool',
	modal_title: "Ajout d'un pool de bâtiments",
	modal_footer: '<button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Enregistrer</button>',
	modal_body: '
		<div class="form-group">
	        <label>
	        	Identifiant unique du pool
	        </label>
	        <div class="input-group">
	          <div class="input-group-addon">
	            <i class="fa fa-hashtag"></i>
	          </div>
	          <input type="text" class="form-control">
	        </div>
	        <!-- /.input group -->
	      </div>
		<div class="form-group">
	        <label>
	        	Bâtiments du pool:
	        	<br/><small>Séparés par une virugle</small>
	        </label>
	        <div class="input-group">
	          <div class="input-group-addon">
	            <i class="fa fa-building-o"></i>
	          </div>
	          <input type="text" class="form-control">
	        </div>
	        <!-- /.input group -->
	      </div>
	'
} %}
{{ block("modal", 'components/modal.html.twig') }}
{% endwith %}

	<div class="row">
		<div class="col-md-3">
			<button data-toggle="modal" data-target="#modal-add-pool" type="button" class="btn btn-block btn-success"><i class="fa fa-plus"></i> Ajouter un pool de bâtiment</button>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Tous les pools de bâtiments</h3>

					<div class="box-tools">
						<div class="input-group input-group-sm" style="width: 150px;">
							<input type="text" name="table_search" class="form-control pull-right" placeholder="Rechercher">

							<div class="input-group-btn">
								<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<table class="table table-hover">
						<tr>
							<th style="width: 10px"><i class="fa fa-hashtag"></i></th>
							<th style="width: 20px"></th>
							<th>Les bâtiments</th>
							<th style="width: 20px"></th>
						</tr>
						{% for pool in pools %}

{% with {
	modal_id: 'modal-edit-pool-' ~ pool.id,
	modal_title: "Modification d'un pool de bâtiments",
	modal_footer: '<button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Enregistrer</button>',
	modal_body: '
		<div class="form-group">
	        <label>
	        	Identifiant unique du pool
	        </label>
	        <div class="input-group">
	          <div class="input-group-addon">
	            <i class="fa fa-hashtag"></i>
	          </div>
	          <input type="text" class="form-control" value="'~pool.id~'">
	        </div>
	        <!-- /.input group -->
	      </div>
		<div class="form-group">
	        <label>
	        	Bâtiments du pool:
	        	<br/><small>Séparés par une virugle</small>
	        </label>
	        <div class="input-group">
	          <div class="input-group-addon">
	            <i class="fa fa-building-o"></i>
	          </div>
	          <input type="text" class="form-control" value="'~pool.batiments~'">
	        </div>
	        <!-- /.input group -->
	      </div>
	'
} %}
{{ block("modal", 'components/modal.html.twig') }}
{% endwith %}

							<tr>
								<td>{{ pool.id }}</td>
								<td><button data-toggle="modal" data-target="#modal-edit-pool-{{pool.id}}" type="button" class="btn btn-block btn-sm btn-primary"><i class="fa fa-edit"></i> Modifier</button></td>
								<td>{{ pool.batiments }}</td>
								<td><button type="button" class="btn btn-block btn-sm btn-danger"><i class="fa fa-trash"></i> Supprimer</button></td>
							</tr>
						{% endfor %}
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>
<!-- /.content -->
</div>

{% endblock %}
