{% extends "index.html.twig" %}

{% block body %}

	<div class="row">
		<div class="col-md-12">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>
					<h3 class="box-title">Information sur la page à coder</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<p class="lead">
						Cette page présente le tableau qui est validé en ce moment. Il n'y a pas d'intéraction prévue.
					</p>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- ./col -->
	</div>

{% endblock %}

