{% extends "index.html.twig" %}

{% block body %}

	{% with {
		modal_id: 'modal-add-parcelle',
		modal_title: "Ajout d'une parcelle",
		modal_footer: '<button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Enregistrer</button>',
		modal_body: '
			<div class="form-group">
		        <label>
		        	Identifiant unique de la parcelle
		        </label>
		        <div class="input-group">
		          <div class="input-group-addon">
		            <i class="fa fa-hashtag"></i>
		          </div>
		          <input type="text" class="form-control">
		        </div>
		        <!-- /.input group -->
		      </div>
			<div class="form-group">
		        <label>
		        	Surface parcelle en ZD3:
		        </label>
		        <div class="input-group">
		          <div class="input-group-addon">
		            <i class="fa fa-arrows-alt"></i>
		          </div>
		          <input type="text" class="form-control">
		        </div>
		        <!-- /.input group -->
		      </div>
		'
	} %}
	{{ block("modal", 'components/modal.html.twig') }}
	{% endwith %}

	<div class="row">
		<div class="col-md-3">
			<button data-toggle="modal" data-target="#modal-add-parcelle" type="button" class="btn btn-block btn-success"><i class="fa fa-plus"></i> Ajouter une parcelle</button>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Toutes les parcelles</h3>

					<div class="box-tools">
						<div class="input-group input-group-sm" style="width: 150px;">
							<input type="text" name="table_search" class="form-control pull-right" placeholder="Rechercher">

							<div class="input-group-btn">
								<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<table class="table table-hover">
						<tr>
							<th style="width: 10px"><i class="fa fa-hashtag"></i></th>
							<th style="width: 20px"></th>
							<th>Surface parcelle en ZD3</th>
							<th style="width: 20px"></th>
						</tr>
						{% for parcelle in parcelles %}

{% with {
	modal_id: 'modal-edit-parcelle-' ~ parcelle.id,
	modal_title: "Modification d'une parcelle",
	modal_footer: '<button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Enregistrer</button>',
	modal_body: '
		<div class="form-group">
	        <label>
	        	Identifiant unique de la parcelle
	        </label>
	        <div class="input-group">
	          <div class="input-group-addon">
	            <i class="fa fa-hashtag"></i>
	          </div>
	          <input type="text" class="form-control" value="'~parcelle.id~'">
	        </div>
	        <!-- /.input group -->
	      </div>
		<div class="form-group">
	        <label>
	        	Surface parcelle en ZD3:
	        </label>
	        <div class="input-group">
	          <div class="input-group-addon">
	            <i class="fa fa-arrows-alt"></i>
	          </div>
	          <input type="text" class="form-control" value="'~parcelle.surface~'">
	        </div>
	        <!-- /.input group -->
	      </div>
	'
} %}
{{ block("modal", 'components/modal.html.twig') }}
{% endwith %}

							<tr>
								<td>{{ parcelle.id }}</td>
								<td><button data-toggle="modal" data-target="#modal-edit-parcelle-{{parcelle.id}}" type="button" class="btn btn-block btn-sm btn-primary"><i class="fa fa-edit"></i> Modifier</button></td>
								<td>{{ parcelle.surface }}</td>
								<td><button type="button" class="btn btn-block btn-sm btn-danger"><i class="fa fa-trash"></i> Supprimer</button></td>
							</tr>
						{% endfor %}
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>
<!-- /.content -->
</div>

{% endblock %}
