{% extends "index.html.twig" %}

{% block body %}

	<div class="row">
		<div class="callout callout-warning">
			<div class="row">
				<div class="col-md-9">
					<h4><i class="fa fa-warning"></i> Le tableau qui est enregistré localement diffère de celui qui est validé</h4>
					<p class="">Vous pouvez donc demander à faire valider ce tableau afin qu'il soit déployé sur la blockchain et qu'il devienne le nouveau tableau de référence</p>
				</div>
				<div class="col-md-3">
					<button onclick="validate(event)" type="button" class="btn btn-block btn-warning btn-lg bg-yellow-active"><i class="fa fa-check"></i> Faire valider ce tableau</button>
				</div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<div class="box box-success">
				<div class="box-header with-border" id="table">
					<h3 class="box-title">Modification du tableau de répartition des droits à bâtir</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form class="form-horizontal">
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th colspan="3" class="table-border-bottom table-border-right table-border-top">Tableau de répartition des droits à bâtir</th>
								<th colspan="3" class="table-border-bottom table-border-top">Localisation des droits à bâtir</th>
								<th class="table-border-bottom table-border-top" colspan="{{parcelles|length - 3}}"></th>
							</tr>
							<tr>
								<th rowspan="2" class="table-border-bottom table-border-right">Parcelle N°</th>
								<th rowspan="2" class="table-border-bottom table-border-right">Surface<br/> parcelle<br/> en ZD3</th>
								<th rowspan="2" class="table-border-right table-border-bottom">DAB</th>
								{% for pool in pools %}
									<th width="{{80/(parcelles|length)}}%">Bat</th>
								{% endfor %}
							</tr>
							<tr>
								{% for pool in pools %}
									<th class="table-border-bottom">{{ pool.batiments }}</th>
								{% endfor %}
							</tr>
							{% for parcelle in parcelles %}
								<tr>
									<th class="table-border-right">{{ parcelle.id }}</th>
									<td class="table-border-right"><span class="surface" data-parcelle="{{parcelle.surface}}">{{parcelle.surface}}</span></td>
									<th class="table-border-right"><span class="dab_total" data-parcelle="{{parcelle.id}}">0</span></th>
									{% for pool in pools %}
										<td>
											<a href="#" class="editable" data-parcelle="{{parcelle.id}}" data-pool="{{pool.id}}" data-type="number" data-pk="{{pool.id}}" data-name="{{parcelle.id}}"  data-title="DABs du pool {{pool.batiments}} dans la parcelle {{parcelle.id}}">{{ parcellesPoolsDabs.getDabs(parcelle.id, pool.id) }}</a>
										</td>
									{% endfor %}
								</tr>
							{% endfor %}
							<tr>
								<th class="table-border-bottom table-border-top table-border-right">TOTAL</th>
								<th class="table-border-bottom table-border-top table-border-right"><span id="surface_full_total">0</span></th>
								<th class="table-border-bottom table-border-right table-border-top"><span id="dab_full_total">0</span></th>
								{% for pool in pools %}
									<th class="table-border-bottom table-border-top"><span class="dab_pool_total" data-pool="{{pool.id}}">0</span></th>
								{% endfor %}
							</tr>
						</table>
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button onclick="save(event)" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer les modifications</button>
						<button onclick="cancel(event)" class="btn btn-default"><i class="fa fa-ban"></i> Annuler les modifications</button>
						<button onclick="undo(event)" class="btn btn-danger pull-right"><i class="fa fa-undo"></i> Retourner au dernier état validé</button>
					</div>
					<!-- /.box-footer -->
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block heads %}
	<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
	<style type="text/css" media="screen">
		.table-border-right {
             border-right: 2px solid !important;
		}
		.table-border-bottom {
             border-bottom: 2px solid !important;
		}
		.table-border-top {
             border-top: 2px solid !important;
		}
	</style>
{% endblock %}

{% block scripts %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
	<script>
	document.querySelectorAll('.editable').forEach(function(element) {
		$(element).editable({
			success: editableSuccess,
			emptytext: 0,
		});
	});

	function computeSurface() {
		var value = 0;
		document.querySelectorAll('.surface').forEach(function(element) {
			value += Number(element.innerText);
		});
		document.querySelector('#surface_full_total').innerText = value;
	}

	function computeFullDAB() {
		var value = 0;
		document.querySelectorAll('.dab_total').forEach(function(element) {
			value += Number(element.innerText);
		});
		document.querySelector('#dab_full_total').innerText = value;
	}

	function computePoolDAB() {
		document.querySelectorAll('.dab_pool_total').forEach(function(element) {
			var pool = element.dataset.pool;
			var value = 0;
			document.querySelectorAll('.editable[data-pool="'+pool+'"]').forEach(function(element) {
				value += Number(element.text);
			});
			element.innerText = value;
		});
	}

	function computeDAB() {
		document.querySelectorAll('.dab_total').forEach(function(element) {
			var dab = element.dataset.parcelle;
			var value = 0;
			document.querySelectorAll('.editable[data-parcelle="'+dab+'"]').forEach(function(element) {
				value += Number(element.text);
			});
			element.innerText = value;
		});
	}

	function editableSuccess(response, newValue) {
		setTimeout(reinit, 200);
	}

	function preventDefault(event) {
		event.preventDefault();
	}

	function validate(event) {
		preventDefault(event);
		if(!confirm("Vous êtes sur le point de déployer le tableau actuel sur la blockchain: êtes-vous sûr ?")) {
			return false;
		}
	}

	function save(event) {
		preventDefault(event);
	}

	function cancel(event) {
		preventDefault(event);
		if(!confirm("Vous êtes sur le point d'effacer tout ce qui n'a pas été enregistré: êtes-vous sûr ?")) {
			return false;
		}
		location.hash = 'table';
		location.reload();
	}

	function undo(event) {
		preventDefault(event);
		if(!confirm("Vous êtes sur le point de retourner au dernier état validé. Vous allez perdre toutes les informations non déployées: êtes-vous sur ?")) {
			return false;
		}
	}

	function reinit() {
		computeDAB();
		computePoolDAB();
		computeFullDAB();
	}

	computeSurface();
	reinit();

	</script>
{% endblock %}

