{% extends "index.html.twig" %}

{% block body %}

	<div class="row">
		<div class="col-md-12">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>
					<h3 class="box-title">Information sur la page à coder</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<p class="lead">
						Cette page présente une liste de tableaux de répartition dont la validation a été demandée par un utilisateur.
						<br/>Chaque utilisateur ayant le droit peut voter pour les tableaux en questions.
						<br/>Selon les règles qui auront été mis en place, si un tableau rempli ces règles il sera déployé sur la blockchain et deviendra le nouveau tableau de référence.
					</p>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- ./col -->
	</div>

{% endblock %}

