{% extends "index.html.twig" %}

{% block body %}

	<div class="row">
		<div class="col-md-12">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>
					<h3 class="box-title">Information sur la page à coder</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<p class="lead">
						Cette page représente <strong>une enquête à coder</strong>.
						<br/>Un champ texte permettra de coder l'enquête à déployer: le développeur aura à sa disposition toutes les données de l'Oracle: Un dictionnaire expliquant comment utiliser ces données sera fourni.
						<br/>L'utilisateur pourra ensuite coder le traitement de ces données et récupérer les informations l'interessant spécifiquement.
						<br/>L'enquête sera déployée sur la blockchain et un lien vers l'adresse de déploiement sera fourni à l'utilisateur: il pourra y lire les informations correspondantes au traitement qu'il aura côdé.
					</p>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- ./col -->
	</div>

{% endblock %}

