{% extends "index.html.twig" %}

{% block body %}

	<div class="row">
		<div class="col-md-12">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>
					<h3 class="box-title">Information sur la page à coder</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<p class="lead">
						Cette page représente <strong>une enquête-précodée</strong>.
						<br/>Elle permet de séléctionné une parcelle et une enquête automatique sera lancée et retournera les dérogations accordées sur cette parcelle.
					</p>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- ./col -->
	</div>

{% endblock %}

