{% extends "layout_no_menu.html.twig" %}

{% block content %}
	<div class="login-logo">
		<a class="box-title">Selectionnez le <b>PLQ</b> de&nbsp;travail</a>
	</div>
	<div class="login-box-body">
		<form action="accueil" action="accueil" method="GET">
			<div class="form-group">
				<select class="form-control select2" style="width: 100%;" required>
					<option value="" selected="selected">Liste des plqs</option>
					{% for plq in plqs %}
						<option>{{plq.id}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="row">
				<div class="col-xs-9 pull-right">
					<button class="btn btn-primary btn-block btn-flat">Travailler sur le PLQ selectionné</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block heads %}
	<link rel="stylesheet" href="{{ path_for('home') }}vendor/almasaeed2010/adminlte/bower_components/select2/dist/css/select2.min.css">
{% endblock %}

{% block scripts %}
	<script src="{{ path_for('home') }}vendor/almasaeed2010/adminlte/bower_components/select2/dist/js/select2.full.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
	<script>
	$('.select2').select2({});
	</script>
{% endblock %}
