{% extends "index.html.twig" %}

{% block body %}

	<div class="row">
		<div class="col-xs-12">
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-question-circle-o"></i> Toutes les requêtes en cours</h3>

					<div class="box-tools">
						<div class="input-group input-group-sm" style="width: 150px;">
							<input type="text" name="table_search" class="form-control pull-right" placeholder="Rechercher">

							<div class="input-group-btn">
								<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<table class="table table-hover">
						<tr>
							<th style="width: 10px"><i class="fa fa-hashtag"></i></th>
							<th style="width: 200px">Requérant</th>
							<th style="width: 20px">Parcelle</th>
							<th style="width: 120px">Batiment(s)</th>
							<th style="width: 160px; text-align: center;">Étudier la requête</th>
							<th></th>
							{% for key,requete in ongoing_requetes %}
								<tr>
									<td>{{key}}</td>
									<td>{{requete.requerant.patronyme}}</td>
									<td>{{requete.parcelle.id}}</td>
									<td>{{requete.pool.batiments}}</td>
									<td style="text-align: center;"><a href="{{ path_for('page_section_specific', {'page': 'requetes', 'section': 'valider', 'id': key}) }}" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></a></td>
									<td></td>
								</tr>
							{% endfor %}
						</tr>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="box box-solid box-success">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-check"></i> Toutes les requêtes validées</h3>

					<div class="box-tools">
						<div class="input-group input-group-sm" style="width: 150px;">
							<input type="text" name="table_search" class="form-control pull-right" placeholder="Rechercher">

							<div class="input-group-btn">
								<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<table class="table table-hover">
						<tr>
							<th style="width: 10px"><i class="fa fa-hashtag"></i></th>
							<th style="width: 200px">Requérant</th>
							<th style="width: 20px">Parcelle</th>
							<th style="width: 120px">Batiment(s)</th>
							<th style="width: 120px">DAB nécessaires</th>
							<th style="width: 60px">Dérogation</th>
							<th></th>
							{% for key,requete in validated_requetes %}
								<tr>
									<td>{{key}}</td>
									<td>{{requete.requerant.patronyme}}</td>
									<td>{{requete.parcelle.id}}</td>
									<td>{{requete.pool.batiments}}</td>
									<td>{{requete.dab}}</td>
									<td>{{requete.derogation}}%</td>
								</tr>
							{% endfor %}
						</tr>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="box box-solid box-danger">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-ban"></i> Toutes les requêtes annulées</h3>

					<div class="box-tools">
						<div class="input-group input-group-sm" style="width: 150px;">
							<input type="text" name="table_search" class="form-control pull-right" placeholder="Rechercher">

							<div class="input-group-btn">
								<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<table class="table table-hover">
						<tr>
							<th style="width: 10px"><i class="fa fa-hashtag"></i></th>
							<th style="width: 200px">Requérant</th>
							<th style="width: 20px">Parcelle</th>
							<th style="width: 120px">Batiment(s)</th>
							<th></th>
							{% for key,requete in canceled_requetes %}
								<tr>
									<td>{{key}}</td>
									<td>{{requete.requerant.patronyme}}</td>
									<td>{{requete.parcelle.id}}</td>
									<td>{{requete.pool.batiments}}</td>
								</tr>
							{% endfor %}
						</tr>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>

{% endblock %}
