{% extends "index.html.twig" %}

{% block body %}

	{% with {
	modal_id: 'modal-add-requerant',
	modal_title: "Ajout d'un compte requérant",
	modal_footer: '',
	modal_body: '
	<p>Le nouveau compte a bien été enregistré.
		<br/>Vous pourrez vous identifier grâce à votre clé privée:
		<ul>
			<li><pre>GC4C6A3XMRFX3DKJAMGZLLPQHTIVJJGPBVLODJ665GIQUBRLQXYNK373</pre></li>
		</ul>
		<strong>Attention, notez la et ne la perdez pas, nous ne seront pas en mesure de la retrouver. Vous pouvez <a target="_blank" href="'~path_for('api_download_txt')~'?value=GC4C6A3XMRFX3DKJAMGZLLPQHTIVJJGPBVLODJ665GIQUBRLQXYNK373&file_name=private_key">cliquer-ici pour la télécharger</a></strong></p>
		'
	} %}
	{{ block("modal", 'components/modal.html.twig') }}
	{% endwith %}

	<div class="register-box">

		<div class="register-box-body">
			<p class="login-box-msg">Enregistrer un nouveau compte Requérant</p>

			<form>
				<div class="form-group has-feedback">
					<input type="text" class="form-control" placeholder="Votre patronyme" required>
					<span class="glyphicon glyphicon-user form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="email" class="form-control" placeholder="Email" required>
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-5">
					</div>
					<!-- /.col -->
					<div class="col-xs-7">
						<button type="submit" class="btn btn-default btn-lrg ajax" title="Ajax Request">
							<i class="fa fa-refresh fa-fw"></i>&nbsp; Enregistrer le compte
						</button>
					</div>
					<!-- /.col -->
				</div>
			</form>

		</div>
		<!-- /.form-box -->
	</div>
	<!-- /.register-box -->

{% endblock %}

{% block scripts %}
		<script>
		var ajaxButton;
		var sending = false;

		$('form').submit(function(event) {
			event.preventDefault();
			if (sending) {
				return false;
			}
			sending = true;
			ajaxButton = $('.ajax');
			ajaxButton.find('i')[0].classList.add('fa-spin');
			$(document).ajaxStart(function () {
				Pace.restart()
			});
			$.ajax({
				url: '#', success: function (result) {
					$('.ajax-content').html('<hr>Ajax Request Completed !');
					setTimeout(function() {
						ajaxButton.find('i')[0].classList.remove('fa-spin');
						sending = false;
						$('#modal-add-requerant').modal();
						window.open('{{path_for('api_download_txt')}}?value=GC4C6A3XMRFX3DKJAMGZLLPQHTIVJJGPBVLODJ665GIQUBRLQXYNK373&file_name=private_key', '_blank');
					}, 500);
				}
			})
		});
		</script>
	{% endblock %}

	{% block heads %}

		<style type="text/css" media="screen">
		.pace {
			-webkit-pointer-events: none;
			pointer-events: none;

			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		.pace-inactive {
			display: none;
		}

		.pace .pace-progress {
			background: #f39c12;
			position: fixed;
			z-index: 2000;
			top: 0;
			right: 100%;
			width: 100%;
			height: 2px;
		}

		</style>
	{% endblock %}
