{% extends "index.html.twig" %}

{% block modal_form %}
	<div class="row">
		<div class="col-xs-12">
			<ul class="timeline">
				<li>
					<span class="disabled_foreground"></span>
					<!-- timeline icon -->
					<i class="fa fa-handshake-o bg-blue"></i>
					<div class="timeline-item">
						<h3 class="timeline-header"><a href="#">Les contrats</a></h3>
						<form id="form_parcelle" onsubmit="timeline(event, true); return false;" onchange="timeline(event, false)">
							<div class="timeline-body col-xs-12">
								<div class="form-group">
									<label>Mes contrats correspondants à la requête</label>
									<select class="form-control select2" multiple style="width: 100%;" required>
										{% for contrat in contrats %}
											{% if (contrat.pools | length) %}
												<optgroup label="Parcelle {{contrat.parcelle.id}}">
													{% for pool in contrat.pools %}
														<option>Batiment(s) {{pool.batiments}}</option>
													{% endfor %}
												{% endif %}
											{% endfor %}
										</select>
										<p class="help-block"><a href="#" data-toggle="modal" data-target="#modal-add-contrat">Cliquez-ici si vous n'avez pas encore crée les contrats nécessaires au dépôt de votre requête</a></p>

									</div>
								</div>
								<div class="timeline-footer col-xs-12">
									<button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
									<button onclick="timeline(event, false)" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i></button>
								</div>
							</form>
						</div>
					</li>
					<li class="disabled">
						<span class="disabled_foreground"></span>
						<!-- timeline icon -->
						<i class="fa fa-map bg-blue"></i>
						<div class="timeline-item">
							<h3 class="timeline-header"><a href="#">Les parcelles</a></h3>
							<form id="form_parcelle" onsubmit="timeline(event, true); return false;" onchange="timeline(event, false)">
								<div class="timeline-body col-xs-12">
									<div class="form-group">
										<label>Parcelles dont les futurs batiments sont liées dans la requête</label>
										<select class="form-control select2" multiple style="width: 100%;" required>
											{% for parcelle in parcelles %}
												<option>{{parcelle.id}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="timeline-footer col-xs-12">
									<button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
									<button onclick="timeline(event, false)" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i></button>
								</div>
							</form>
						</div>
					</li>
					<li class="disabled">
						<span class="disabled_foreground"></span>
						<!-- timeline icon -->
						<i class="fa fa-building"></i>
						<div class="timeline-item">
							<h3 class="timeline-header"><a href="#">Les pools de bâtiments</a></h3>
							<form id="form_pool" onsubmit="timeline(event, true); return false;" onchange="timeline(event, false)">
								<div class="timeline-body col-xs-12">
									<div class="form-group">
										<label>Les pools de bâtiments qui sont compris dans la requête</label>
										<select multiple class="form-control select2" style="width: 100%;" required>
											{% for pool in pools %}
												<option>{{pool.batiments}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="timeline-footer col-xs-12">
									<button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
									<button onclick="timeline(event, false)" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i></button>
								</div>
							</form>
						</div>
					</li>
					<li class="disabled">
						<span class="disabled_foreground"></span>
						<!-- timeline icon -->
						<i class="fa fa-file"></i>
						<div class="timeline-item">
							<h3 class="timeline-header"><a href="#">Fichiers de la requête</a></h3>
							<form id="form_info" onsubmit="timeline(event, true); return false;" onchange="timeline(event, false)">
								<div class="timeline-body col-xs-12">
									<div class="form-group">
										<label for="exampleInputFile">Les fichiers décrivant votre requête</label>
										<input type="file" id="exampleInputFile" multiple="multiple">
										{# <p class="help-block">Example block-level help text here.</p> #}
									</div>
								</div>
								<div class="timeline-footer col-xs-12">
									<button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
									<button onclick="timeline(event, false)" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i></button>
								</div>
							</form>
						</div>
					</li>
					<li class="disabled">
						<span class="disabled_foreground"></span>
						<!-- timeline icon -->
						<i class="fa fa-info"></i>
						<div class="timeline-item">
							<h3 class="timeline-header"><a href="#">Informations complémentaires</a></h3>
							<form id="form_info" onsubmit="timeline(event, true); return false;" onchange="timeline(event, false)">
								<div class="timeline-body col-xs-12">
									<div class="form-group">
										<label>Entrez des informations complémentaires permettant d'analyser votre requête</label>
										<textarea class="form-control" rows="3" placeholder="Informations complémentaires"></textarea>
									</div>
								</div>
								<div class="timeline-footer col-xs-12">
									<button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
									<button onclick="timeline(event, false)" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i></button>
								</div>
							</form>
						</div>
					</li>
					<li class="disabled">
						<span class="disabled_foreground"></span>
						<!-- timeline icon -->
						<i class="fa fa-save"></i>
						<div class="timeline-item">
							<h3 class="timeline-header"><a href="#">Déposer cette requête pour validation</a></h3>
							<div class="timeline-body">
								<button onclick="send_requete(event)" type="submit" class="btn btn-default btn-lrg ajax" title="Ajax Request">
									<i class="fa fa-refresh fa-fw"></i>&nbsp; Envoyer le dépot de requête
								</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	{% endblock %}

	{% block body %}

		{% with {
		modal_id: 'modal-congrats',
		modal_title: '<i class="fa fa-save bg-green" style="width: 30px; height: 30px; font-size: 15px; line-height: 30px; border-radius: 50%; text-align: center;"></i> Votre dépot de demande a bien été enregistré',
		modal_footer: '<button type="button" data-dismiss="modal" class="btn btn-primary pull-left"><i class="fa fa-question-circle"></i> Déposer une <strong>autre</strong> requête</button>',
		modal_body: "Les administrateurs ont été informé du dépot de votre requête. Vous recevrez des nouvelles de l'acceptation de votre requête au plus vite.",
	} %}
	{{ block("modal", 'components/modal.html.twig') }}
	{% endwith %}

	{% with {
	modal_id: 'modal-add-requete',
	modal_title: "Dépot d'une requête",
	modal_footer: '',
	modal_body: block("modal_form")
} %}
{{ block("modal", 'components/modal.html.twig') }}
{% endwith %}

{% with {
	modal_id: 'modal-add-contrat',
	modal_title: "Ajout d'un contrat",
	modal_footer: '',
	modal_body: block("modal_form", 'pages/contrats_creer.html.twig')
} %}
{{ block("modal", 'components/modal.html.twig') }}
{% endwith %}

{% with {
	requerant_title: 'Compte requérant du dépot',
	submit_label: 'Déposer une requête'
} %}
{{ block("check_requerants_block", 'pages/contrats_creer.html.twig') }}
{% endwith %}

{% endblock %}

{% block heads %}
	<!-- Select2 -->
	<link rel="stylesheet" href="{{ path_for('home') }}vendor/almasaeed2010/adminlte/bower_components/select2/dist/css/select2.min.css">

	<style type="text/css" media="screen">
	.pace {
		-webkit-pointer-events: none;
		pointer-events: none;

		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}

	.pace-inactive {
		display: none;
	}

	.pace .pace-progress {
		background: #f39c12;
		position: fixed;
		z-index: 2000;
		top: 0;
		right: 100%;
		width: 100%;
		height: 2px;
	}

	{{ block("timeline_css", 'pages/contrats_creer.html.twig') }}

	.select2-container--default .select2-selection--multiple .select2-selection__choice {
		background-color: #3c8dbc;
		border-color: #367fa9;
	}
	.select2-selection__choice__remove {
		color: white !important;
	}
	</style>
{% endblock %}

{% block scripts %}

	<script src="{{ path_for('home') }}vendor/almasaeed2010/adminlte/bower_components/select2/dist/js/select2.full.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
	<script>
	$('.select2').select2({});
	</script>
	<script>
	var ajaxButton;
	var sending = false;


	{% with {modal_id: 'modal-add-requete'} %}
	{{ block("check_requerants_script", 'pages/contrats_creer.html.twig') }}
	{% endwith %}

	{{ block("timeline_script", 'pages/contrats_creer.html.twig') }}

	function send_contrat(event) {
		event.preventDefault();
		var button = event.target;
		if (sending) {
			return false;
		}
		sending = true;
		ajaxButton = $(button);
		ajaxButton.find('i')[0].classList.add('fa-spin');
		$(document).ajaxStart(function () {
			Pace.restart()
		});
		$.ajax({
			url: '#', success: function (result) {
				setTimeout(function() {
					ajaxButton.find('i')[0].classList.remove('fa-spin');
					sending = false;
					$('#modal-add-contrat').modal('hide');
					disableTimeline(document.querySelector('.timeline').firstElementChild);
					$('#modal-add-contrat .timeline :input').not(':button, :submit, :reset, :hidden, :checkbox, :radio').val('');
					$('#modal-add-contrat .timeline .select2').val(null).trigger('change');
				}, 500);
			}
		})
	}

	function send_requete(event) {
		event.preventDefault();
		var button = event.target;
		if (sending) {
			return false;
		}
		sending = true;
		ajaxButton = $(button);
		ajaxButton.find('i')[0].classList.add('fa-spin');
		$(document).ajaxStart(function () {
			Pace.restart()
		});
		$.ajax({
			url: '#', success: function (result) {
				setTimeout(function() {
					ajaxButton.find('i')[0].classList.remove('fa-spin');
					sending = false;
					$('#modal-add-contrat').modal('hide');
					$('#modal-congrats').modal();
					disableTimeline(document.querySelector('.timeline').firstElementChild);
					$('.timeline :input').not(':button, :submit, :reset, :hidden, :checkbox, :radio').val('');
					$('.timeline .select2').val(null).trigger('change');
				}, 500);
			}
		})
	}
	</script>
{% endblock %}
