{% extends "index.html.twig" %}

{% block body %}

	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-solid">
						<div class="box-header with-border">
							<i class="fa fa-info"></i>
							<h3 class="box-title">Résumé de la requête</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="row"><label class="col-xs-3" for="">Requérant:</label> <div class="col-xs-9">{{requete.requerant.patronyme}}</div></div>
							<div class="row"><label class="col-xs-3" for="">Parcelle:</label> <div class="col-xs-9">{{requete.parcelle.id}}</div></div>
							<div class="row"><label class="col-xs-3" for="">Bâtiments:</label> <div class="col-xs-9">{{requete.pool.batiments}}</div></div>
							<div class="row"><label class="col-xs-3" for="">DAB nécessaire:</label> <div class="col-xs-9">{{requete.dab}}</div></div>
						</div>
						<!-- /.box-body -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="box box-solid">
						<div class="box-header with-border">

							<h3 class="box-title"><span class="label label-{% if requete_in_conflict|length == 0%}success{% else %}danger{% endif %}">{{ requete_in_conflict | length }}</span> Requêtes en conflits</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							{% for key, conflict in requete_in_conflict %}
								<div class="row">
									<div class="col-xs-2">
										<a href="{{ path_for('page_section_specific', {'page': 'requetes', 'section': 'valider', 'id': key}) }}" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></a>
									</div>
									<div class="col-xs-10">
										<div class="row">
											<label class="col-xs-4" for="">Requérant:</label>
											<div class="col-xs-8">{{conflict.requerant.patronyme}}</div>
										</div>
										<div class="row">
											<label class="col-xs-4" for="">Dérogation nécessaire:</label>
											<div class="col-xs-8">
												{% if conflict.requerant.dab_restant > conflict.dab %}
													0%
												{% else %}
													{{(100 - 100*conflict.requerant.dab_restant/conflict.dab)|round(2)}}%
												{% endif %}
											</div>
										</div>
									</div>
								</div>
								<hr/>
							{% endfor %}

							<!-- /.box-body -->
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="box box-solid">
						<div class="box-header with-border">
							<i class="fa fa-search"></i>
							<h3 class="box-title">Analyse</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="row"><label class="col-xs-12" for="">Les DAB que le requérant peut encore utilisé:</label> <div class="col-xs-12">{{requete.requerant.dab_restant}}</div></div>
							<div class="row">
								<label class="col-xs-12" for="">Dérogation nécessaire si validation de la requète:</label>
								<div class="col-xs-12">
									{% if requete.requerant.dab_restant > requete.dab %}
										0%
									{% else %}
										{{(100 - 100*requete.requerant.dab_restant/requete.dab)|round(2)}}%
									{% endif %}
								</div>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button type="submit" class="btn btn-success pull-left" onclick="validate()">Accepter la requête</button>
							<button type="submit" class="btn btn-danger pull-right" onclick="cancel()">Refuser la requête</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-solid">
						<div class="box-header with-border">
							<h3 class="box-title"><span class="label label-success">{{ requete_validated | length }}</span> Requête(s) accepté(s) du requérant</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							{% for key, conflict in requete_validated %}
								<div class="row"><label class="col-xs-3" for="">Parcelle:</label> <div class="col-xs-9">{{conflict.parcelle.id}}</div></div>
								<div class="row"><label class="col-xs-3" for="">Bâtiments:</label> <div class="col-xs-9">{{conflict.pool.batiments}}</div></div>
								<div class="row"><label class="col-xs-3" for="">DAB nécessaire:</label> <div class="col-xs-9">{{conflict.dab}}</div></div>
								<div class="row"><label class="col-xs-3" for="">Dérogation:</label> <div class="col-xs-9">{{conflict.derogation}}</div></div>
								<hr/>
							{% endfor %}
						</div>
						<!-- /.box-body -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="box box-solid">
						<div class="box-header with-border">
							<h3 class="box-title"><span class="label label-primary">{{ requete_ongoing | length }}</span> Requête(s) en cours du requérant</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							{% for key, conflict in requete_ongoing %}
								<div class="row"><label class="col-xs-3" for="">Parcelle:</label> <div class="col-xs-9">{{conflict.parcelle.id}}</div></div>
								<div class="row"><label class="col-xs-3" for="">Bâtiments:</label> <div class="col-xs-9">{{conflict.pool.batiments}}</div></div>
								<div class="row"><label class="col-xs-3" for="">DAB nécessaire:</label> <div class="col-xs-9">{{conflict.dab}}</div></div>
								<hr/>
							{% endfor %}
						</div>
						<!-- /.box-body -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="box box-solid">
						<div class="box-header with-border">
							<h3 class="box-title"><span class="label label-danger">{{ requete_canceled | length }}</span> Requête(s) annulée(s) du requérant</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							{% for key, conflict in requete_canceled %}
								<div class="row"><label class="col-xs-3" for="">Parcelle:</label> <div class="col-xs-9">{{conflict.parcelle.id}}</div></div>
								<div class="row"><label class="col-xs-3" for="">Bâtiments:</label> <div class="col-xs-9">{{conflict.pool.batiments}}</div></div>
								<hr/>
							{% endfor %}
						</div>
						<!-- /.box-body -->
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script>

		function validate() {
			{% if requete_in_conflict|length == 0%}
				confirm('Vous êtes sur le point de valider cette requête, êtes-vous sûr ?');
			{% else %}
				confirm('Cette requête est en conflit avec {{ requete_in_conflict|length }} autre(s). Cs requêtes seront refusées si vous acceptez celle-ci, êtes-vous sûr ?');
			{% endif %}
			return false;
		}

		function cancel() {
			{% if requete_in_conflict|length == 0%}
				confirm("Cette requête n'est en conflit avec aucune autre, pourtant  vous êtes sur le point de la refuser, êtes-vous sûr ?");
			{% else %}
				confirm('Vous êtes sur le point de refuser cette requête, êtes-vous sûr ?');
			{% endif %}
			return false;
		}
	</script>
{% endblock %}
