{% extends "layout_with_menu.html.twig" %}
{% block content %}

	<!-- Content Header (Page header) -->
	<div class="alert alert-info alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<h4><i class="icon fa fa-info"></i> Rappel</h4>
		Cet application est <strong>un mockup</strong>, la vue et l'affichage peut ne pas correspondre du tout avec l'application finale. De plus, <strong>aucune base de données ou blockchain n'est attachée aux différentes vues</strong> qui ne sont que de la présentation.
	</div>

	<section class="content-header">
		<h1>
			{% block page_title %}
				{% if sectionActive and sectionActive.name %}
					{{ sectionActive.name }}
				{% else %}
					{{ pageActive.name }}
				{% endif %}
			{% endblock %}
			{% block page_subtitle %}
				{% if sectionActive and sectionActive.name %}
					<small>{{ sectionActive.description | raw}}</small>
				{% else %}
					<small>{{ pageActive.description | raw}}</small>
				{% endif %}
			{% endblock %}
			<br/>PLQ: {{selectedPlq.id}}
		</h1>
		{% if sectionActive and sectionActive.name %}
			<ol class="breadcrumb">
				<li><a href="{{ path_for('page', {'page': pageActive.slug}) }}">{% if pageActive.fa_name %}<i class="fa fa-{{ pageActive.fa_name}}"></i>{% endif %} {{ pageActive.name }}</a></li>
				<li class="{% if not id %}active{% endif %}"><a href="{{ path_for('page_section', {'page': pageActive.slug, 'section': sectionActive.slug}) }}">{{ sectionActive.name }}</a></li>
				{% if id %}<li class="active">{{ id }}</li>{% endif %}
				</ol>
			{% endif %}
		</section>

		<!-- Main content -->
		<section class="content">
			{% block body %}
				{% if (not sectionActive) and (pageActive.sections|length) %}
					<ul>
						{% for section in pageActive.sections %}
							<li><a href="{{ path_for('page_section', {'page': pageActive.slug, 'section': section.slug}) }}">{{section.name}}</a>{% if section.description %}{{section.description | raw}}{% endif %}</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endblock %}
		</section>
		<!-- /.content -->
	{% endblock %}
