{% extends "layout.html.twig" %}
{% block wrapper %}
	<header class="main-header">
		<!-- Logo -->
		<a href="{{ path_for('home') }}" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><b>DAB</b></span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg">SCODES<b>DAB</b></span>
		</a>
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
				<span class="sr-only">Toggle navigation</span>
			</a>

		</nav>
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
		{# 	<div class="user-panel">
				<div style="color: white;">
					<p>PLQ: {{selectedPlq.id}}</p>
				</div>
			</div> #}
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu" data-widget="tree">
				<li class="header">MENU PRINCIPAL</li>
				{% block menu %}
					{% for page in pages %}
						{% if page.sections|length %}
							<li class="treeview{% if pageActive.id == page.id %} active menu-open{% endif %}">
								<a href="{{ path_for('page', {'page': page.slug}) }}">
									{% if page.fa_name %}
										<i class="fa fa-{{ page.fa_name}}"></i>
									{% endif %}
									<span>{{page.name}}</span>
									<span class="pull-right-container">
										<i class="fa fa-angle-left pull-right"></i>
									</span>
								</a>
								<ul class="treeview-menu">
									{% for section in page.sections %}
										<li class="{% if sectionActive.id == section.id %}active{% endif %}"><a data-toggle="tooltip" data-placement="right" title="{{section.description}}" data-html="true" href="{{ path_for('page_section', {'page': page.slug, 'section': section.slug}) }}"><i class="fa fa-circle-o"></i> {{section.name}}</a></li>
									{% endfor %}
								</ul>
							</li>
						{% else %}
							<li class="{% if pageActive.slug == page.slug %}active{% endif %}"><a href="{{ path_for('page', {'page': page.slug}) }}" data-toggle="tooltip" data-placement="right" title="{{page.description}}" data-html="true">
								{% if page.fa_name %}
									<i class="fa fa-{{ page.fa_name}}"></i>
								{% endif %}
								<span>{{page.name}}</span>
							</a></li>
						{% endif %}
					{% endfor %}
				{% endblock %}
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>

	<div class="content-wrapper">
		{% block content %}
		{% endblock %}
	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">
		<div class="pull-right hidden-xs">
			<b>Projet Scodes</b> 0.0.1
		</div>
		<strong>Mockup Mockup Mockup</strong>
	</footer>
</div>
<!-- ./wrapper -->
{% endblock %}
