{% extends "layout.html.twig" %}
{% block bodyClasses %}hold-transition login-page{% endblock %}
	{% block wrapper %}
		<div class="login-box">
			{% block content %}
			{% endblock %}
		</div>
	{% endblock %}
