{% extends "layout_no_menu.html.twig" %}
{% block page_title %}Connexion ou génération du mot de passe{% endblock %}

	{% block content %}

		<div class="login-logo">
			<a><b>Connexion</b></a>
		</div>
		<div class="login-box-body">
			<form action="admin" method="post" accept-charset="utf-8">
				<div class="form-group has-feedback">
					<input type="password" class="form-control" placeholder="Password" name="password">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>

				<div class="row">
					<div class="col-xs-8">
					</div>
					<div class="col-xs-4">
						<input class="btn btn-info pull-right" type="submit" value="Se connecter">
					</div>
				</div>
			</form>
			<form action="admin/new_password" method="post" accept-charset="utf-8" class="form-horizontal">
				<div class="box-footer">
					<input type="submit" value="Générer un nouveau mot de passe" class="btn btn-default pull-right">
				</div>
			</form>
		</div>
	{% endblock %}
