<?xml version="1.0" encoding="UTF-8"?>
<urlset
xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
<!-- created with Free Online Sitemap Generator www.xml-sitemaps.com -->

<url>
	<loc>{{domain}}{{ path_for('home') }}</loc>
	<lastmod>2018-10-30T15:24:13+00:00</lastmod>
	<changefreq>daily</changefreq>
	<priority>1.00</priority>
</url>

{% for page in pages %}
	{% if (path_for('page', {'page': page.slug}) != path_for('home')) %}
		<url>
			<loc>{{domain}}{{ path_for('page', {'page': page.slug}) }}</loc>
			<changefreq>daily</changefreq>
			<priority>0.80</priority>
		</url>
	{% endif %}
{% endfor %}

</urlset>

