{% block modal %}
	<div class="modal fade" id="{{ modal_id }}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{{ modal_title | raw }}</h4>
			</div>
			<div class="modal-body">
				{{modal_body | raw }}
			</div>
			<div class="modal-footer">
				{{modal_footer | raw }}
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}
